################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RideMeSolution/FileContentIndex/1c56499d-e22e-44ae-81e6-b33789152d50.vsidx
/.vs/RideMeSolution/FileContentIndex/22282fa5-5017-45a3-b0d0-9d5b1ee84cd7.vsidx
/.vs/RideMeSolution/FileContentIndex/40e40edd-1e48-4905-a9b6-ce04313d239a.vsidx
/.vs/RideMeSolution/FileContentIndex/6c152995-6fee-44fe-8fb1-b14fc5e6b66e.vsidx
/.vs/RideMeSolution/FileContentIndex/d0349a6e-df64-443c-83ba-a3126b359e32.vsidx
