################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RideMeSolution/FileContentIndex/1c56499d-e22e-44ae-81e6-b33789152d50.vsidx
/.vs/RideMeSolution/FileContentIndex/22282fa5-5017-45a3-b0d0-9d5b1ee84cd7.vsidx
/.vs/RideMeSolution/FileContentIndex/40e40edd-1e48-4905-a9b6-ce04313d239a.vsidx
/.vs/RideMeSolution/FileContentIndex/6c152995-6fee-44fe-8fb1-b14fc5e6b66e.vsidx
/.vs/RideMeSolution/FileContentIndex/d0349a6e-df64-443c-83ba-a3126b359e32.vsidx
.vs/RideMeSolution/FileContentIndex/b3c1cb11-e7a1-4d7b-9ba8-37376c95e06e.vsidx
.vs/RideMeSolution/FileContentIndex/0c30788f-35e1-4497-8b43-b7f690f6bfba.vsidx
.vs/RideMeSolution/FileContentIndex/25a7b1a1-6621-442d-a799-f0db52efa296.vsidx
.vs/RideMeSolution/FileContentIndex/504a89f5-57fa-478a-b645-055c10970d72.vsidx
.vs/RideMeSolution/FileContentIndex/63b0566d-cdf5-4834-a420-d586eab84399.vsidx
.vs/RideMeSolution/FileContentIndex/8995423f-c19a-42c0-8974-be9091992d38.vsidx
.vs/RideMeSolution/FileContentIndex/90c951b8-52a0-4fa3-a49d-f63bb6fc3548.vsidx
.vs/RideMeSolution/FileContentIndex/cb18c450-c630-4714-8bdd-162f11e9886d.vsidx
.vs/RideMeSolution/FileContentIndex/fa36194a-3bdf-46d5-b1ee-14590b65cc34.vsidx
