################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RideMeSolution/FileContentIndex/1c56499d-e22e-44ae-81e6-b33789152d50.vsidx
/.vs/RideMeSolution/FileContentIndex/22282fa5-5017-45a3-b0d0-9d5b1ee84cd7.vsidx
/.vs/RideMeSolution/FileContentIndex/40e40edd-1e48-4905-a9b6-ce04313d239a.vsidx
/.vs/RideMeSolution/FileContentIndex/6c152995-6fee-44fe-8fb1-b14fc5e6b66e.vsidx
/.vs/RideMeSolution/FileContentIndex/d0349a6e-df64-443c-83ba-a3126b359e32.vsidx
.vs/RideMeSolution/FileContentIndex/0f3d4d20-77af-4f5a-b838-92073be289c0.vsidx
.vs/RideMeSolution/FileContentIndex/25a7b1a1-6621-442d-a799-f0db52efa296.vsidx
.vs/RideMeSolution/FileContentIndex/302e7470-3410-47fb-b528-d7c549efacaa.vsidx
.vs/RideMeSolution/FileContentIndex/63b0566d-cdf5-4834-a420-d586eab84399.vsidx
.vs/RideMeSolution/FileContentIndex/6a8c124e-9e10-4d1c-97bc-52fdf441c692.vsidx
.vs/RideMeSolution/FileContentIndex/74676c85-b941-435a-a521-0cf2bc530d9e.vsidx
.vs/RideMeSolution/FileContentIndex/88756cc7-935d-43c5-b15a-e7cb31b9d258.vsidx
.vs/RideMeSolution/FileContentIndex/88842d76-d1bb-49e9-885c-87d950c752dc.vsidx
.vs/RideMeSolution/FileContentIndex/8995423f-c19a-42c0-8974-be9091992d38.vsidx
.vs/RideMeSolution/FileContentIndex/8b0c696a-8369-40b3-8590-0c9851aa9b09.vsidx
.vs/RideMeSolution/FileContentIndex/99c4fb77-b21d-43e2-b723-8deb9d9d16d8.vsidx
.vs/RideMeSolution/FileContentIndex/aa7eadad-7042-4f79-a8ac-e4ff519ed988.vsidx
.vs/RideMeSolution/FileContentIndex/b3c1cb11-e7a1-4d7b-9ba8-37376c95e06e.vsidx
.vs/RideMeSolution/FileContentIndex/bafcbb68-369f-4d1b-88ff-9b7f2e367f49.vsidx
